@import '../../styles/_custom-variables';

.btn-primary {
  background: none repeat scroll center bottom #cc2b2b;
  color: $txt-white !important;
}

.nopadding {
  padding: 0px;
}

.landNavPanel:nth-child(odd) {
  margin-right: 0px;
  margin-left: 5px;
}

.banner {
  color: $txt-white;
  height: 166px;
  background: url(~/public/illustrations/legacy/fl_img01.jpg) no-repeat right
    top;
  margin: 5px 0px;
  background-color: $banner-background;
}

.banner div {
  width: 400px;
  padding: 15px;
}
.banner h2 {
  font-size: 26px;
  margin: 0px;
}
.banner p {
  font-size: 15px;
  margin-top: 10px;
}
.landNavPanel {
  width: 480px;
  margin-right: 5px;
  float: left;
  height: 240px;
  /*border-right:2px solid #ddd;*/
  border-bottom: 1px solid #ddd;
  padding: 2px;
  margin-bottom: 10px;
  background-color: $txt-white;
  padding-bottom: 10px;
}
.landNavPanel h2 {
  background-color: #eee;
  color: $cardH-txt-color;
  font-weight: normal;
  margin: 0px;
  text-indent: 5px;
  line-height: 35px;
  vertical-align: middle;
}

.landNavPanel li {
  list-style: none;
  padding: 4px 0;
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
  left: -35px;
  border-bottom: 1px dotted $select-disabled;
  font-size: 12px;
}

.landNavPanel li a {
  padding-left: 10px;
  background: url(~/public/icons/svg/vodafone/chevron-right.svg) -2px 50% / 10px
    auto no-repeat;
  display: block;
  color: #555;
}
