@import '../../../../../styles/mixins';
@import '../../../../../styles/modal';

.btn-secondary {
  color: #333;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  padding: 0px 15px;
  font-size: 14px;
  height: 34px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #333 !important;
  background-color: #fff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) !important;
}
