<h2 class="pageTitle">
    <span l10nTranslate>ED-EDIT_SHOP_TITLE</span>
</h2>

<sncr-notification [handler]="notify" [dismissible]="false"></sncr-notification>

<div class="contentPanelBody edit-shop-comp">
    <div class="card">
        <div class="card-block">
            <div class="area" id="TitleHeader">
                <div class="row" *ngIf="edShop">
                    <div class="col-3 break-word"><strong l10nTranslate>ED-CUSTOMER_NUMBER</strong><br>{{edShopCopy.fnCustomerNumber ? edShopCopy.fnCustomerNumber: edShopCopy.fnRootCustomerNumber}}</div>
                    <div class="col-4 break-word"><strong l10nTranslate>ED-SHOP_LIST_COL1</strong><br>{{edShopCopy.customerName ? edShopCopy.customerName:edShopCopy.rootCustomerName}}</div>
                    <div class="col-4 break-word"><strong l10nTranslate>ED-SHOP_LIST_COL2</strong><br>{{edShopCopy.shopName}}</div>
                </div>
            </div>
            <div class="card-block padding-0">
                    <sncr-loader class="custom-inline" [isLoading]="loading"></sncr-loader>
                <ngb-accordion [closeOthers]="true" (panelChange)="panelChange($event)" #accordion [hidden]="loading">
                    <ng-container *ngFor="let panel of panels">
                        <ngb-panel id="{{panel.id}}" title="{{panel.title}}">
                            <ng-template ngbPanelContent>
                                <ng-container *ngIf="panel.id==='setup-1'">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <sncr-input [(ngModel)]="edShop.shopName" [autocomplete]="'off'" [disabled]="loading" [pattern]="pattern"
                                                        [showValidation]="showValidation" l10nTranslate>ED-SHOP_LIST_COL2
                                            </sncr-input>

                                        </div>
                                        <div class="col-md-4">
                                            <sncr-input [(ngModel)]="edShop.fnRootCustomerNumber"
                                                        [autocomplete]="'off'" [disabled]="loading" [readonly]="true" l10nTranslate>ED-EDIT_SHOP_CUSTOMER
                                            </sncr-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pb-2">
                                            <sncr-checkbox [label]="'EDIT_SHOP_EMAIL_APPROVAL' | translate:lang" [(ngModel)]="edShop.emailOrderApproval"></sncr-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pb-2">
                                            <sncr-checkbox [label]="'EDIT_SHOP_AUTHENTICATION' | translate:lang" [(ngModel)]="edShop.tfa"></sncr-checkbox>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="panel.id!=='setup-1'">
                                    <ng-container *ngIf="!loading">
                                            <sncr-datatable [value]="panel.rows" (onRowSelect)="onSelection($event,panel)" [cols]="panel.columns" [(selection)]="panel.selected" [multiSelection]="true"
                                                         (onRowUnselect)="unSelected($event, panel)" (onHeaderCheckboxToggle)="onAllCheck($event, panel)" sortField="{{panel.sortField}}" [selectCount]="panel.selected.length">
                                            </sncr-datatable>
                                    </ng-container>
                                </ng-container>
                                <div class="row">
                                    <div [ngClass]="{'next-button col-md-12 nopadding': panel.buttonTitle==='Weiter', 'col-md-12 nopadding': panel.buttonTitle!=='Weiter'}">
                                        <sncr-button [type]="panel.buttonType" [disabled]="disableSaveButton() || disableShopSave" [ngClass]="{disableFields:disableSaveButton() || disableShopSave}"  (click)="savePanelEditShop(panel.id)">{{panel.buttonTitle}}</sncr-button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ng-container>
                </ngb-accordion>
            </div>

            <div class="divider"></div>
        </div>
    </div>
</div>

<ng-template #customerAlert let-c="close" let-d="dismiss" ngbModalContainer>
    <div class="modal-header" *ngIf="!loading">
        <button type="button" class="close-popup" aria-label="Close closePopup" (click)="modalError=false;d('Cross click');"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p><strong>{{popupMessage}}</strong></p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="Pbox"></div>
    <div class="modal-footer">
        <sncr-button type="secondary" (click)="modalError=false;c('Close click');" l10nTranslate>ED-EDIT_SHOP_BACK</sncr-button>
        <sncr-button type="primary" class="btnPrimary float-md-right" (click)="saveCustBillingData(true,type)" l10nTranslate>ED-EDIT_SHOP_SAVE</sncr-button>
    </div>
</ng-template>

<ng-template #billError let-context>
    <i *ngIf="!context.row.billExists" class="fa fa-exclamation-triangle err-color" placement="top" [ngbTooltip]="noBillingForCustMsg">
    </i>
</ng-template>

<ng-template #customerNo let-context>
    <div class="margin-bottom-30">
        <div (click)="context.row.ellipse = !context.row.ellipse">
            <div *ngIf="getCustomerNo(context.row.customerNo).length > 0">
                <i class="fa fa-chevron-down" *ngIf="!context.row.ellipse" aria-hidden="true"></i>
                <i class="fa fa-chevron-up" *ngIf="context.row.ellipse" aria-hidden="true"></i>
                {{getCustomerNo(context.row.customerNo).length}} {{'ED-CUSTOMER_NUMBER' | translate:lang}}
            </div>
        </div>
    </div>
    <div *ngIf="context.row.ellipse" class="margin-bottom-30 scroll-customer">
        <li *ngFor="let customerNo of getCustomerNo(context.row.customerNo)">
            {{customerNo}}
        </li>
    </div>
</ng-template>

<ng-template #selectionAlert let-c="close" let-d="dismiss" ngbModalContainer>
    <div class="modal-header">
        <button type="button" class="close-popup" aria-label="Close closePopup" (click)="modalError=false;d('Cross click');"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>{{'EDIT_SHOP_SELECT_ALERT' | translate:lang}} {{selectedShop}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <sncr-button type="secondary" (click)="modalError=false;c('Close click');" l10nTranslate>OK</sncr-button>
    </div>
</ng-template>

<ng-template #multipleSelectionAlert let-c="close" let-d="dismiss" ngbModalContainer>
    <div class="modal-header">
        <button type="button" class="close-popup" aria-label="Close closePopup" (click)="modalError=false;d('Cross click');"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span *ngIf="zeroShops.length <= 3">{{zeroShops.length}} {{'EDIT_SHOP_SELECT_ALERT' | translate:lang}} {{zeroShops.toString()}}</span>
                <span *ngIf="zeroShops.length > 3">{{zeroShops.length}} {{'EDIT_SHOP_SELECT_ALERT_MULTIPLE' | translate:lang}} {{zeroShops.slice(0, 3)+'...'}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <sncr-button type="secondary" (click)="modalError=false;c('Close click');" l10nTranslate>OK</sncr-button>
    </div>
</ng-template>

