<sncr-button type="secondary"
             (click)="processCart()">
    <span l10nTranslate>{{reviewBtnTitle}}</span>
</sncr-button>


<ng-template #saveCartModal>
    <sncr-notification [handler]="notificationHandlerService"></sncr-notification>
    <form [formGroup]="saveCartForm" (ngSubmit)="processSaveCart();$event.stopPropagation();">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" l10nTranslate>SAVE_CART-MAIN_HEADER</h4>
        </div>
        <div class="modal-body">
            <sncr-input [label]="'SAVE_CART-CART_NAME' | translate:lang"
                        formControlName="cartName">
            </sncr-input>
        </div>
        <div class="modal-footer">
            <div class="text-left">
                <sncr-button
                        type="secondary"
                        (click)="closeModal()"
                        l10nTranslate>
                    {{prefix}}SAVE_CART-BTN_CANCEL
                </sncr-button>
            </div>
            <div class="text-right">
                <sncr-button type="submit"
                             [disabled]="processing"
                             [ngClass]="{disableFields:processing}"
                             l10nTranslate>
                    {{prefix}}SAVE_CART-BTN_SAVE
                </sncr-button>
            </div>
        </div>
    </form>
</ng-template>