//mixins
@mixin icon-sizes24() {
  width: 24px !important;
  height: 24px !important;
  border-radius: 0px;
  object-fit: contain;
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@mixin icon-sizes20() {
  width: 20px !important;
  height: 20px !important;
  border-radius: 0px;
  object-fit: contain;
  background-position: 0px 0px;
  background-size: 20px 20px !important;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@mixin icon-sizes26() {
  width: 26px;
  height: 26px;
  border-radius: 0px;
  object-fit: contain;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@mixin icon-sizes28() {
  width: 28px;
  height: 28px;
  border-radius: 0px;
  object-fit: contain;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@mixin icon-sizes12() {
  width: 12px !important;
  height: 12px !important;
  border-radius: 0px;
  object-fit: contain;
  background-position: 0px 0px;
  background-size: 12px 12px !important;
  background-repeat: no-repeat;
  vertical-align: middle;
}

@mixin icon($size) {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: $size;
  height: $size;
  display: inline-block;
}

@mixin linear-gradient($startColor, $endColor) {
  background: $startColor;
  background: linear-gradient(to bottom, $startColor 0%, $endColor 100%);
}
