// primary colors
$color-black: rgb(0, 0, 0);
$color-mine-shaft: rgb(51, 51, 51);
$color-vodafone-red: rgb(230, 0, 0);
$color-white: rgb(255, 255, 255);

// secondary colors
$color-blue-lagoon: rgb(0, 126, 148);
$color-finn: rgb(93, 39, 80);
$color-international-orange: rgb(255, 85, 0);
$color-red-berry: rgb(153, 0, 0);
$color-seance: rgb(157, 43, 161);
$color-supernova: rgb(255, 204, 0);
$color-verdun-green: rgb(68, 128, 0);

// infrastructure colors
$color-barley-white: rgb(254, 245, 204);
$color-gallery: rgb(235, 235, 235);
$color-silver: rgb(204, 204, 204);
$color-wild-sand: rgb(244, 244, 244);
$color-willow-brook: rgb(244, 248, 240);

// other colors
$color-bridesmaid: rgb(254, 241, 241);
$color-seashell-peach: rgb(255, 245, 240);

// fonts
$font-heading: Helvetica, Arial, sans-serif;
$font-text: Helvetica, Arial, sans-serif;

// font weights
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// radius
$radius-circle: 50%;
$radius-default: 3px;

// durations
$duration-quickly: 0.08s;
$duration-slowly: 0.5s;
