<h2 class="pageTitle">
    <span l10nTranslate>ED-SHOP_LIST_TITLE</span>
</h2>

<sncr-notification [handler]="notify" [dismissible]="false"></sncr-notification>

<div class="card">
    <div class="card-block">
        <sncr-loader class="custom-inline" [isLoading]="loading"></sncr-loader>
        <div class="row">
            <div class="col-md-12" *ngIf="!loading">
                    <sncr-datatable [value]="shopListData" [rowHover]="true" [cols]="shopListCols" (onRowClick)="rowClick($event)" sortField="fnRootCustomerNumber">
                    </sncr-datatable>
            </div>
        </div>
    </div>
</div>
