@import '../styles/_custom-variables';
@import '../styles/page-title';
@import '../styles/mixins';
@import '../styles/modal';

option[value=''][disabled] {
  display: none;
}

.deleteBtnSection,
.saveBtnSection {
  margin-left: 20px;
}

.exportBtnSection {
  margin-left: auto;
}

.shopTitle {
  font-style: italic;
  padding: 9px;
  font-size: 15px;
  background-color: #ffeaea;
  @extend .pageTitle;
}

.flex-align-right {
  align-self: flex-end;

  .fm-select {
    margin-bottom: 0px;
  }
}

.DataReportInfo {
  .dropdownsec {
    overflow-x: unset !important;
  }
}

.DataReportInfo {
  .dataTableMSoc {
    background: #ffffff;
    min-width: 100%;
    margin-bottom: 20px;
  }
  .mx-4.text-muted {
    padding: 30px 20px !important;
    margin: 0px !important;
  }
}

.DataReportInfo {
  p-header .ui-paginator {
    padding: 0px;
  }

  .review {
    padding: 0px;
  }
  .infoText {
    margin-top: 0px;
  }

  .alertTitle {
    margin-bottom: 10px;
  }
}

.trash-border {
  padding: 3px 6px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  &:hover {
    background: #ccc !important;
  }
}

.dataTableM {
  margin-top: -4px;
}

.scrolling {
  overflow-y: auto;
  max-height: 300px;
  margin-bottom: 20px;
}

.dropdown-item {
  padding: 3px 5px;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background-color: #efefef;
  }
}

.dropdown-itemTxt {
  color: #333333;
  .text-right {
    font-size: 12px;
    font-weight: normal !important;
    white-space: normal !important;
  }
}

:host ::ng-deep .custom-dropdown .btn-primary {
  max-height: 328px;
  overflow-y: auto;
  width: 240px;
}

:host ::ng-deep .custom-button {
  .btn-primary {
    display: inline-block;
    color: #8d9191 !important;
    font-size: 14px;
    border: 1px solid #ccc;
    background: #ffffff;
    border-radius: 3px !important;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.6);
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    padding: 4px 30px 4px 12px;
    height: 35px;
    text-align: left;
    margin-bottom: 5px;
    position: relative;

    .dropDownTxt {
      border-right: 1px solid #dadada;
      display: inline-block;
      width: 87%;
      color: #333333;
    }
  }

  .truncateSocName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 99%;
    display: inline-block;
  }
}

:host ::ng-deep .custom-button .btn-primary:hover,
.custom-button .btn-primary:focus {
  background: #ffffff;
  border-color: #fff;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.6);
}

sncr-button {
  padding: 0px !important;
  margin-bottom: 10px;
}

:host ::ng-deep .dropdown-toggle::after {
  position: absolute;
  color: #8d9191 !important;
  top: 6px;
  right: 25px;
  border-right: 0em solid transparent;
  border-top: 0em solid;
  content: '\f078';
  font-family: FontAwesome;
  cursor: pointer;
  padding-left: 10px;
  border-left: 1px #dadada solid;
  min-height: 20px;
}

.custom-button.dropdown.show .dropdown-toggle::after {
  content: '\f077';
  font-family: FontAwesome;
}

.custom-button.show .dropdown-menu {
  display: block;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-scroll {
  max-height: 159px;
  overflow-y: scroll;
  margin: 4px;
}

.container {
  padding: 30px 20px;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.6);
  background-color: #ffffff;
  border-radius: 4px;
}

.row {
  margin: 0px;
}

.col-sm-6 {
  padding: 0px;
}

table.saved-report {
  tr {
    cursor: pointer;
    td {
      border-top: none;
    }
  }
  label {
    font-size: bold;
  }
}

.dropdown-disable-fader {
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.validError {
  color: #cc2b2b;
}
